body{
    background-image: url(../imagens/Mercadinho.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	
}

section{
    display: flex;
}

#esquerda{
	flex: 50%;
	margin-top: 570px;
}

#direita{
    flex: 50%;
}

/*Botao JOGAR*/

#botaoplay {
    margin-top: 570px;
    margin: auto;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #966ee0), color-stop(1, #5d4acc) );
	background:-moz-linear-gradient( center top, #966ee0 5%, #5d4acc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#966ee0', endColorstr='#5d4acc');
	background-color:#966ee0;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
	border:1px solid #8756d1;
	display:inline-block;
	color:#ffffff;
	font-family:Impact;
	font-size:30px;
	font-weight:normal;
    height:54px;
	line-height:54px;
    width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:3px 2px 0px #6d63b5;
	padding-top: 2px;
	background-image: url(../imagens/gif.gif);
	background-size: cover;
}#botaoplay:hover{  
    background-color:#5d4acc;
    width: 330px;
	height:60px;
	font-size: 35px;
	background-image: url(../imagens/gif.gif);
	background-size: cover;
	
}#botaoplay:active {
	position:relative;
	top:1px;
}


/*Div MERCADINHO*/

h2{
    margin-top: 465px;
    margin-left: 360px;
    font-family: FonteJogo;
    font-size: 60px;
	text-decoration: underline;
	text-align: center;
}

@font-face {
    font-family: FonteJogo;
    src: url('fonteIgor.otf');
}


